* {
    font-family: 'Poppins', sans-serif;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.footer{
    position: fixed;
    background-color: #fcfaed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
    box-shadow: 0 -2px 5px 0 rgba(0, 0, 0, 0.2), 0 -2px 5px 0 rgba(0, 0, 0, 0.2);
    a {
        text-decoration: none;
        color: black;
        font-weight: 400;
        font-size: 15px;
        transition-duration: 0.3s;
    }
    .footer_green:hover {
        text-decoration: none;
        color: #488c03;
        transition: all 0.3s;
    }
    .logo {
        height: 50px;
        width: 50px;
        left: 10px;
        position: absolute;
    }
    ul{
        position: absolute;
        margin-top: 8px;
        margin-left: 20px;
        list-style: none;
    }

    li{
        margin: 0 10px;
        display: inline-block;
        line-height: normal;
        vertical-align: middle;
        position: relative;
        margin-bottom: 6px;
    }
    .social {
        margin-left: 30%;
    }
    .credits {
        right: 30px;
    }
    .linktext {
        font-family: 'Poppins', sans-serif;
    }
    .twitterli:hover {
        color: #00acee;
        transition: all 0.3s;
    }
    .linkedinli:hover {
        color: #0e76a8;
        transition: all 0.3s;
    }
    .instagramli:hover {
        color: #f2003c;
        transition: all 0.3s;
    }
    .facebookli:hover {
        color: #3b5998;
        transition: all 0.3s;
    }

    @media only screen and (max-width: 1000px) {
        .linktext,
        .right {
            display: none;
            width: 0;
        }
        .social {
            margin-left: 40%;
        }
    }

    @media only screen and (max-width: 700px) {
        .linktext,
        .credits,
        .right {
            display: none;
            width: 0;
        }
        .social {
            right: 0;
            margin-right: 2%;
        }
    }

    @media only screen and (max-width: 500px) {
        .last {
            margin-right: 0;
        }
        ul {
            text-align: center;
            margin-left: 25%;
        }
        li {
            margin: 0 20px;
            margin-bottom: 10px;
        }
        .social {
            margin-left: 0;
        }
        .logo,
        .social,
        .facebookli,
        .twitterli,
        .instagramli,
        .linkedinli,
        .right {
            display: none;
            width: 0;
        }
    }
}
