* {
    font-family: 'Poppins', sans-serif;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header{
    z-index: 2;
    position: fixed;
    width: 100%;
    background-color: #fcfaed;
    top: 0;
    margin: 0;
    height: 50px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.2);
    a {
        text-decoration: none;
        color: black;
        font-weight: 500;
        font-size: 25px;
        transition-duration: 0.3s;
    }
    a:hover {
        text-decoration: none;
        color: #488c03;
        transition: all 0.3s;
    }
    .current {
        color: #488c03;
    }
    .logo {
        margin-top: 5px;
        height: 80px;
        width: 80px;
        left: 10px;
        position: absolute;
        background-color: #fcfaed;
        border-radius: 10px;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.2);
        padding: 10px;
    }
    ul{
        margin-right: 30px;
        list-style: none;
        text-align: right;
    }

    li{
        text-decoration: none;
        margin: 0 20px;
        display: inline-block;
        line-height: normal;
        vertical-align: middle;
        position: relative;
        margin-top: 6px;
    }

    @media only screen and (max-width: 1000px) {
        ul {
            margin-right: 0;
            list-style: none;
            text-align: right;
        }

        li {
            margin: 0 10px;
            margin-top: 6px;
        }

        .hide-login span, .hide-register span {
            display: none;
            width: 0;
        }

        .hide-login:after {
            vertical-align: middle;
            content: '↩';
            line-height: 0;
            font-size: 28px;
        }

        .hide-login {
            text-align: center;
            height: 40px;
            width: 40px;
            background-color: rgba(242, 216, 82, 0.6);
            border: 2px solid rgba(242, 216, 82, 0.6);
            color: white;
            border-radius: 5px;
            float: right;
            margin: 0;

            &:hover {
                background-color: transparent;
                border: 2px solid rgba(242, 216, 82, 0.6);
                color: rgba(242, 216, 82, 0.6);
            }
        }

        .hide-register:after {
            vertical-align: middle;
            content: '+';
            line-height: 0;
            font-size: 36px;
        }

        .hide-register {
            text-align: center;
            vertical-align: middle;
            height: 40px;
            width: 40px;
            background-color: rgba(96, 180, 11, 0.6);
            border: 2px solid rgba(96, 180, 11, 0.6);
            color: white;
            border-radius: 5px;
            float: right;
            margin-right: 0;

            &:hover {
                background-color: transparent;
                border: 2px solid rgba(96, 180, 11, 0.6);
                color: rgba(96, 180, 11, 0.6);
            }
        }
    }

    @media only screen and (max-width: 700px) {
        a {
            font-weight: 300;
            font-size: 21px;
        }
        .logo, .hidden {
            width: 0;
            display: none;
        }
        li {
            margin: 0 10px;
            margin-top: 10px;
        }
        ul {
            text-align: left;
            margin-right: 0;
        }
    }
}
