.home{
    .description {
        text-align: justify;
        margin-left: 25%;
        margin-right: 25%;
        margin-top: 2%;
    }
    .video {
        margin-left: 30%;
        margin-top: 2%;
    }
}
