@import url(https://fonts.googleapis.com/css?family=Poppins:300,400,700,900);


body {
    font-family: "Poppins", sans-serif;
}


.product{
    
}

.bloc_m{
    margin-top: 20px;
    margin-left: 2.5%;
    width: 95%;
    padding: 5px;
    padding-left: 2.5%;
    padding: 30px 2.5%;
    padding-right: 2.5%;
    display: inline-flex;
    border-radius: 2px;
}

.right{

    border: 1.5px solid rgba(72,140,3,0.4); ;
    
    background-color: rgba(72,140,3,0.1);
}

.left{

    border: 1.5px solid rgba(242,216,82,0.4); ;
    
    background-color: rgba(242,216,82,0.1);
}



.button_sp{
    width:auto;
}

.nom{
    font-size: 22px;
    width: auto;
}

.desc{
    width: auto;
}

.bloc_image{
    width: 400px;
    display: inline-block;
}

.bloc_image_l>img{
    width: 300px;
    box-shadow: -10px -10px #F2D852, 0 2px 5px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.2);
    z-index: -1;
}

.bloc_image_r>img{
    width: 300px;
    box-shadow: 10px -10px #488C03, 0 2px 5px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.2);
    z-index: -1;
}


.bloc_texte{
    display: inline-block;
    width: auto;
    padding-left: 30px;
    padding-right: 30px;
    text-align: justify;
}

.lien {
    background-color: rgb(72, 140, 3);
    border: none;
    color: white;
   
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    height: 40px;
    width: 150px;
    border-radius: 2px;
    float: right;
    margin-top: 2%;
    transition: 1.25s;
}

.lien_r{
    background-color:  rgba(72,140,3,0.7);
}

.lien_l{
    background-color: rgba(242,216,82,0.7);
}

.container{
    
    margin-top: 80px;
    margin-bottom: 80px;
}

.lien:hover{
    color:white;
    transform: scale(1.1);
}

.button_sp>p{
    margin: 0;
    line-height: 40px;
}

.mobile{
    display: none;
}

@media (max-width: 770px) {

    .bloc_m{
        display: block;
    }

    .bloc_image_l{
        text-align: center;
        width: 100%;
    }

    .bloc_image_r{
        text-align: center;
        width: 100%;
    }

    .bloc_texte{
        margin-top: 20px;
    }

    .nom{
        text-align: center;
    }

    .mobile{
        display: block;
    }

    .screen{
        display: none;
    }

}

@media (max-width: 400px) {
    .bloc_texte{     
margin-top: 20px;
padding-left: 5px;
padding-right: 5px;
text-align: left;
    }

    .bloc_image_l > img {
        width: 75vw;
    }

    .bloc_image_r > img {
        width: 75vw;
    }
}
